body {
    background-color: #f9f9f9!important; /* Set background color to gray */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    
}

.logo {
    width: 200px;
    height: 200px;
    margin-right: 150px;
    border-radius: 100px;
}

.navbar-nav {
    display: flex;
    align-items: center;

}

.navbar-nav li {
    margin: 40px 40px;
  
}

.navbar-nav li a {
    font-size: 30px; 
}

p
{
    font-size:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about
{
    margin-top: 5%;
    margin-left: 2%;
}
.img1
{
    margin: -15% 70%;
    width: 450px;
    height: 450px;
}
.img2
{

    margin: -40% 65%;
    width: 600px;
    height: 600px;
    
}
h1
{
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bolder;
}

  .skill-name {
    font-weight: bold;
    font-size: 25px;
    margin-left: 20%;
  }
  .name
  {
    margin-left: 5%;
  }
  .star {
    color: gold; 
    font-size: 30px;
    margin: 10px 10px;
  
  }

  
.project
{
        
    margin-left: 20%;
  
}
.project-img
{
    height: 1000px;
    width: 1000px;
}
.img3
{
height: 1000px;
width: 1000px;
 margin-left: 20%;
}

.contact-info {
    list-style-type: none;
    padding: 0;
    margin-left: 20%;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info li strong {
    font-weight: bold;
    font-size: larger;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative; /* Change position to relative */
    bottom: 0;
    width: 100%;
    margin-top: 5%;
}

.header
{
    position: fixed;
}

.navbar {
    background-color: rgba(58, 71, 62, 0.5);
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: rgb(58, 58, 71); 
}
.about a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.btn
{
    margin-left: 40%;
    width: 250px;
    height: 80px;
    color: aliceblue;
    background-color: rgb(178, 11, 255);
}

li
{
    font-size: 20px;
}

.contact {
    background-color: #f5f5f5; /* Light gray background */
    padding: 50px 20px;
    text-align: center;
}

.contact h1 {
    margin-bottom: 20px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: inline-block;
    margin-right: 20px;
}

.contact-list li:last-child {
    margin-right: 0;
}

.contact-list a {
    color: #333; /* Dark color for links */
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; /* Smooth color transition */
}

.contact-list a:hover {
    color: #e62e2e; /* Change color on hover */
}

